.grid-container {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #2196F3;
}
#buttons{
    float: left;
}
#images{
    float: left;
    vertical-align: top;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: left;
}

#actionButtons {
    position: fixed;
    left: 20%;
    top: 90%;
    min-width: 80%;
    max-width: 80%;
    min-height: 10%;
    max-height: 10%;
    background-color:beige;
}

#statsView{
    position: fixed;
    left: 0%;
    top: 0%;
    max-width: 20%;
    min-width: 20%;
    max-height: 100%;
    min-height: 100%;
    background-color:beige;

}
#gameView{
    background-color:beige;
    position: fixed;
    left: 20%;
    top: 10%;
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    max-height: 80%;
}
#menuButtons{
    position: fixed;
    left: 20%;
    top: 0%;
    min-width: 80%;
    max-width: 80%;
    min-height: 10%;
    max-height: 10%;
    background-color:beige;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#perks{
    float: right;
}
#cheats{
    float: right;
}
button{
    width: 100px;
    height: 30px;
}




